
#intro{
	padding-bottom:48.67px;
}
#intro video{
}
#intro p{
	font-size:18.45px;
	margin:0;
	margin-bottom: 13.42px;
}
#intro button{
	color: #1421a7;
	border-color: #1421a7;
	text-transform:uppercase;
	font-size:14px;
	border-radius:5px;
}
#intro button:hover{
	background-color:#ffffff;
}

#exterior p{
	font-size: 12px;
	margin-top: 10px;
	padding-right:60px;
}
#building-stats {
	text-align:center;
}
#building-stats ul{
	display:block;
	list-style:none;
	padding:0;
	height: 400px;
	margin: 0;
	margin-bottom: 20px;
}
#building-stats ul li{
	display:block;
}
#building-stats ul li.separator{
	border-bottom:1px solid #cdcdcd;
	width:66.6%;
	margin:0 auto;
	padding-top: 10px;
}
#building-stats ul li span{
	font-size:18.74px;
}
#building-stats ul li div{
	font-family:"EB Garamond 08";
	font-size:53.41px;
	color: #c1a22f;
}

#team-stats {
	margin-top: 25px;
	margin-bottom: 5px;
}
#team-stats h2{
	font-size:27.19px;
	width: 320px;
	margin: 0 auto;
	margin-bottom: 26px;
	border-bottom: none;
}
#team-stats div.team-info>span{
	font-size:18.74px;
}
#team-stats div.team-info>div{
	font-family:"EB Garamond 08";
	font-size:53.41px;
	color:#b48717;
	line-height: 45px;
    height: 55px;
    overflow: hidden;
    margin: 0 auto;
}
#team-stats div.plus{
	font-size:48.98px;
}
ul#services {
	list-style:none;
	display:block;
	margin:0;
	padding:0;
	text-align:center;
	padding: 2rem 0;
	margin-bottom: 0px;
}
ul#services li{
	display:inline-block;
	width:33%;
	height:250px;
	overflow:hidden;
}
ul#services li img{
	width:100%;
}
#equipments p,#dream p{
	font-size:20px;
	text-align:center;
	margin-bottom: 20px;
}
#equipments-stats ul.equipments-list{
	display:block;
	margin:0;
	padding:0;
}
#equipments-stats ul.equipments-list li{
	display:block;
	font-size:36px;
	padding: 5px;
}
#equipments-stats{
	margin-top: 13px;
	margin-bottom: 13px;
}
#equipment-count div{
	margin-top: 20px;
	font-family:"EB Garamond 08";
	font-size:53.41px;
	color:#b48717;
}
#equipments-stats span{
	font-size:18.74px;
}

/*
Animation
*/
#building-stats ul{
	margin-top: 70px;
	opacity:0;
}
section.active #building-stats ul {
	margin-top: 0px;
	opacity:1;
}