
#event-banner div.container-fluid{
	padding:0;
		background-color: #f7f7f7;
}
#event-banner div.container-fluid>div.row,#event-banner div.container-fluid>div.row>div.col-md-6{
	margin: 0;
    padding: 0;
}
#event-banner .event-date{
	font-size:12.24px;
	text-transform:uppercase;
	margin-bottom:30px;
}
#event-banner p{
	padding:0 10px;
}
#event-details{
	/*background: url(../img/mcwb-snow-flake.png) center;*/
    background-repeat: no-repeat;

}